@model IEnumerable<EmployeeManagementOnline.Entity.Employee> 

@{
    ViewBag.Title = "Edit";
}

<style>
    table, th, td {
        border: 1px solid black;
        padding: 15px;
        width: 100;
    }

    input[type="text"] {
        border: none;
        padding: 10px;
    }
</style>

<h2>Edit</h2>
@using (Html.BeginForm("Update", "Employee", FormMethod.Post))
{
    @Html.HiddenFor(Model => Model.EmployeeId);
    <table>
        <tr>
            <td><lable>Employee Name : </lable></td>
            <td><lable>@Html.TextBoxFor(Model => Model.EmployeeName)</lable></td>
        </tr>
        <tr>
            <td><lable>Work Type : </td>
            <td><lable>@Html.TextBoxFor(Model => Model.WorkType)</lable></td>
        </tr>
        <tr>
            <td><lable>Experience: </td>
            <td><lable>@Html.TextBoxFor(Model => Model.Experience)</lable></td>
        </tr>
        <tr>
            <td><lable>Salary: </td>
            <td><lable>@Html.TextBoxFor(Model => Model.Salary)</lable></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Update" />
            </td>
            <td><a href="/Employee">Back</a></td>
        </tr>
    </table>
}

