@model EmployeeManagementOnline.Entity.Employee

@{
    ViewBag.Title = "Edit";

}

<style>
    table, th, td {
        border: 1px solid black;
        padding: 15px;
        width: 100px;
    }

    input[type="text"] {
        border: none;
        padding: 10px;
    }
    h2{
        text-align:center;
    } 
</style>

<h2>Edit</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(Model => Model.EmployeeId);
    <table align="center">
        <tr>
            <td><lable>Employee Name : </lable></td>
            <td><lable>@Html.TextBoxFor(Model => Model.EmployeeName)</lable><span> @Html.ValidationMessageFor(model => model.EmployeeName)</span></td>
        </tr>
        <tr>
            <td><lable>Work Type : </td>
            <td><lable>@Html.TextBoxFor(Model => Model.WorkType)</lable><span> @Html.ValidationMessageFor(model => model.WorkType)</span></td>
        </tr>
        <tr>
            <td><lable>Experience: </td>
            <td><lable>@Html.TextBoxFor(Model => Model.Experience)</lable><span> @Html.ValidationMessageFor(model => model.Experience)</span></td>
        </tr>
        <tr>
            <td><lable>Salary: </td>
            <td><lable>@Html.TextBoxFor(Model => Model.Salary)</lable><span> @Html.ValidationMessageFor(model => model.Salary)</span></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Update" />
            </td>
            <td><a href="~/Views/Employee/EmployeeDetails.cshtml">Back</a></td>
        </tr>
    </table>
}

