@model EmployeeManagementOnline.Entity.Account

@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<h2 style="text-align:center">SignUp</h2>
<style>
    table, th, td {
        border: 1px solid black;
        padding: 15px;
        width: 100px;
    }
    span{
        color:red;
    }
</style>
@using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
{
<table align="center">
        <tr>
            <td><label>*Name</label></td>
            <td>@Html.TextBoxFor(Model => Model.Name)<span>@Html.ValidationMessageFor(Model=>Model.Name)</span></td>
        </tr>
        <tr>
            <td><label>*Email ID</label></td>
            <td>@Html.TextBoxFor(Model => Model.EmailId)<span>@Html.ValidationMessageFor(Model => Model.EmailId)</span></td>
        </tr>
        <tr>
            <td><label>*Gender</label></td>
            <td>
                @Html.RadioButtonFor(Model => Model.Gender, "Male", new { id = "Male" })Male
                @Html.RadioButtonFor(Model => Model.Gender, "Female", new { id = "Female" })Female
                @Html.RadioButtonFor(Model => Model.Gender, "Others", new { id = "Others" })Others
                <span>@Html.ValidationMessageFor(Model => Model.Gender)</span></td>
        </tr>
        <tr>
            <td>LanguagesKnown</td>
            <td>
                @Html.CheckBox("Tamil")Tamil
                @Html.CheckBox("English")English
                @Html.CheckBox("Telugu")Telugu
                @Html.CheckBox("Hindi")Hindi;
            </td>
        </tr>
        <tr>
            <td><label>*Qualification</label></td>
            <td>
                @Html.DropDownList("Qualification", new List<SelectListItem> {
               new SelectListItem{Text="UG",Value="UG"},
               new SelectListItem{Text="PG",Value="PG"},
               }, "selectQualification")<span>@Html.ValidationMessageFor(Model => Model.Qualification)</span>
            </td>
        </tr>
        <tr>
            <td><label>*PhoneNumber</label></td>
            <td>@Html.TextBoxFor(Model => Model.PhoneNumber)<span>@Html.ValidationMessageFor(Model => Model.PhoneNumber)</span></td>
        </tr>
        <tr>
            <td><label>*Password</label></td>
            <td>@Html.PasswordFor(Model => Model.Password)<span>@Html.ValidationMessageFor(Model => Model.Password)</span></td>
        </tr>
        <tr>
            <td><label>*Address</label></td>
            <td>@Html.TextBoxFor(Model => Model.Address)<span>@Html.ValidationMessageFor(Model => Model.Address)</span></td>
        </tr>
        <tr>
            <td><label>*City</label></td>
            <td>
                @Html.DropDownList("City", new List<SelectListItem> {
               new SelectListItem{Text="Coimbatore",Value="Cbe"},
               new SelectListItem{Text="Chennai",Value="Chennai"},
               }, "selectCity")<span>@Html.ValidationMessageFor(Model => Model.City)</span>
            </td>
        </tr>
        <tr>
            <td><label>*State</label></td>
            <td>
                @Html.DropDownList("State", new List<SelectListItem> {
               new SelectListItem{Text="TamilNadu",Value="TN"},
               new SelectListItem{Text="Karnataka",Value="Karnataka"},
               }, "selectState")<span>@Html.ValidationMessageFor(Model => Model.State)</span>
            </td>
        </tr>
        <tr>
            <td><label>*PinCode</label></td>
            <td>@Html.TextBoxFor(Model => Model.PinCode)<span>@Html.ValidationMessageFor(Model => Model.PinCode)</span></td>
        </tr>
        <tr>
            <td>
                <input type="submit" />
            </td>
            <td>Already have an account??@Html.ActionLink("Login", "Login", "Account")</td>
        </tr>
    </table>
}

